<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<span>
    <input type="checkbox" value="" />
</span>
<label><slot name="label"></slot><slot></slot></label>